@charset "utf-8";
@import url("http://at.alicdn.com/t/font_429499_vmpa9kfph060f6r.css");

.yu-rate{
  margin: 0;
  padding: 0;
  color: orangered;
  li{
    display: inline-block;
    list-style: none;
    color: inherit;
    font-size: 20px;
    cursor: pointer;
    &+li{
      margin-left: 3px;
    }
    .iconfont{
      font-size: inherit;
    }
  }
}
